/NetBeansProjects/guia11extras2/nbproject/private/
/NetBeansProjects/guia11extras2/build/
/NetBeansProjects/guia11extras2/dist/
/NetBeansProjects/PaintApp/nbproject/private/
/NetBeansProjects/PaintApp/ColorChooser/nbproject/private/
/NetBeansProjects/PaintApp/Paint/nbproject/private/
/NetBeansProjects/guia12manos1/nbproject/private/
/NetBeansProjects/guia12manos1/build/
/NetBeansProjects/guia12manos1/dist/