/NetBeansProjects/guia11extras2/nbproject/private/
/NetBeansProjects/guia11extras2/build/
/NetBeansProjects/guia11extras2/dist/
/NetBeansProjects/PaintApp/nbproject/private/
/NetBeansProjects/PaintApp/ColorChooser/nbproject/private/
/NetBeansProjects/PaintApp/Paint/nbproject/private/
/NetBeansProjects/guia12manos1/nbproject/private/
/NetBeansProjects/guia12manos1/build/
/NetBeansProjects/guia12manos1/dist/
/NetBeansProjects/guia12ej1/nbproject/private/
/NetBeansProjects/guia12ej1/build/
/NetBeansProjects/guia12ej1/dist/
/NetBeansProjects/guia12ej2/nbproject/private/
/NetBeansProjects/guia12ej2/build/
/NetBeansProjects/guia12ej2/dist/
/NetBeansProjects/guia12ejextra4/nbproject/private/
/NetBeansProjects/guia12ejextra4/build/
/NetBeansProjects/guia-12-ej3/nbproject/private/
/NetBeansProjects/guia-12-ej3/build/
/NetBeansProjects/guia-12-ej3/dist/